h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.borderCard {
  position: relative;
  min-width: 200px;
  margin-top: 48px;
  background-color: white;
  border-image: linear-gradient(
      0deg,
      black 0 15%,
      white 15% 85%,
      black 85% 100%
    )
    1;
  border-style: solid;
  border-width: 1px;
  height: 600px;
  overflow: auto;
}

.cardTitlesContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 45px;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
}

.cardTitles {
  background-color: white;
  padding: 0 8px;
}
